.post {
  font-size: 14px;
  font-family: 'Nanum Gothic','맑은 고딕','Malgun Gothic','돋움',dotum,sans-serif;
}
.post h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
.lead { font-size: 1.0rem; }
code {
  padding: 0.2rem;
}
pre {
  line-height: 1.4;
  padding: 0.8rem;
  font-size: 12px;
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
}
.sidebar-title {
  color: white;
}
@media (min-width: 48rem) {
  .sidebar {
    width: 15rem;
  }
}
