html {
  font-family: 'PT Sans','Calibri',Helvetica,Arial,sans-serif;
}
code, pre {
  font-family: Menlo, Monaco, Consolas, monospace;
}
.post {
  font-size: 16px;
}
.post h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
.lead { font-size: 1.0rem; }
code {
  padding: 0.2rem;
}
pre {
  line-height: 1.4;
  padding: 0.8rem;
  font-size: 12px;
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
}
.sidebar-title {
  color: white;
}
@media (min-width: 48rem) {
  .sidebar {
    width: 14rem;
  }
}

img {
  border-radius: 0;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 800px) {
  img {
    max-width: 500px;
  }
}
@media (min-width: 1100px) {
  img {
    max-width: 600px;
  }
}
.post-category {
  font-size: 0.8rem;
}
hr {
  margin: 0.2em;
}
.archive-category {
  float: left;
  width: 8em;
}
.archive-date {
  float: right;
}

.theme-base-10 .sidebar {
  background-color: #34495e;
}
.theme-base-10 .content a,
.theme-base-10 .related-posts li a:hover {
  color: #2980b9;
}

.article-box {
  margin-top: 3em;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  margin-bottom: 3em;
  border: 1px solid #ddd;
}
h4.article-box-top {
  margin-top: 10px;
  color: #888;
}
.article-link {
  color: #888 !important;
}
.article-date {
  float: right;
  color: #888;
}

.sidebar-nav-item.active {
  text-decoration: underline;
}
.sidebar-category-item a {
  font-size: 0.9rem;
  color: rgba(255,255,255,.7);
}

.category-block {
  padding-left: 1em;
  padding-right: 1em;
}
.category-block.active {
  background-color: #eee;
}

.comment-box {
  margin-top: 3em;
}
