{% if site.comment %}
<div id="disqus_thread" class="comment-box"></div>
<a id="comment_fold_msg" href="#disqus_thread">Show comments</a>
<script>
var disqus_config = function () {
  this.page.url = "{{ site.url }}{{ page.url }}";
  this.page.identifier = "{{ page.id }}";
};

var disqus_load = function() {
  //if (!$("#disqus_thread").size()) {
  if (1) {
    var d = document, s = d.createElement('script');

    s.src = '//blukat29githubio.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  }
  $("#comment_fold_msg").hide();
}
$("#comment_fold_msg").click(disqus_load);
//disqus_load();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
