<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h2 class="sidebar-title">{{ site.title }}</h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
            {% if node.url == "/category/" %}
              {% for category in site.categories %}
                <li class="sidebar-category-item">&raquo;
                  <a href="/category/#{{ category | first }}">{{ category | first }} <small>({{ category | last | size }})</small></a>
                </li>
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    <p style="font-size:0.7rem">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
